/*============= HEADER =============*/
header{
    background: #1c262b;
    box-shadow: 1px 1px 16px 1px #e1f6ff73;
    padding: 0;
    transition: all .6s ease-in-out;
    .topBar{
        width: 65%;
        margin: auto;
        color: rgba(225, 246, 255, 0.45);        
        @media screen and (max-width:997px){
            width: 100%;
        }
        .navbar{
            padding: 1em 0;
            .navbar-menu{
                display: flex;
                align-items: center;
                list-style: none;
                justify-content: center;
                transition: all .5s ease;
                li{
                    margin: 0 12px 0;
                    font-weight: 500;
                    a{
                        color: #e1f6ff73;
                        text-transform: uppercase;
                        font-size: 14px;
                        transition: all .4s ease;
                        &:hover{
                            color: #fff;
                        }
                        &.router-link-exact-active {
                            color: #fff;
                        }  
                    }
                    &.login a{
                        border:1px solid #e1f6ff73;padding:6px 6px 6px 6px;
                        border-radius: 4px;
                        &:hover{
                            border-color:#fff;
                        }
                        
                    }
                }

                @media screen and (max-width:997px){
                    display: none;
                    
                }
            }
            .mobile-menu{
                i{
                    font-size: 30px;
                    color: white!important;
                    padding: 12px;
                    display: none;
                    @media screen and (max-width:997px){
                        display: block;
                    }
                }
                ul{
                    list-style: none;
                    transition: all .4s ease;
                    max-height: 0;
                    overflow: hidden;
                    text-align: center;
                    text-transform: uppercase;
                    li{
                        border-width: 100%;
                        padding: 12px;
                        transition: all .4s ease;
                        a{
                            color:#e1f6ff73;
                            transition: all .4s ease;

                            &.router-link-exact-active {
                                color: #fff;
                            }  
                        }
                        &:hover{
                            background: #283136;
                        }
                        &:hover a{
                            color: white;
                        }
                    }
                }
                ul.active{
                    overflow: visible;
                    max-height: 1000px;
                    
                }
                
            }
            @media screen and (max-width:997px){
                padding:  0;
            
            }
            
        }
    }
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0.3em;
}
.sticky + main{
    padding-top: 70px;
}

/*============= /HEADER =============*/