* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat";
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  color: #345;
}

/*============= HEADER =============*/

header {
  background: #1c262b;
  box-shadow: 1px 1px 16px 1px #e1f6ff73;
  padding: 0;
  transition: all 0.4s ease;
}

header .topBar {
  width: 65%;
  margin: auto;
  color: rgba(225, 246, 255, 0.45);
}

@media screen and (max-width: 997px) {
  header .topBar {
    width: 95%;
  }
}

header .topBar .navbar {
  padding: 1em 0;
}

header .topBar .navbar .navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  transition: all 0.5s ease;
}

header .topBar .navbar .navbar-menu li {
  margin: 0 12px 0;
  font-weight: 500;
}

header .topBar .navbar .navbar-menu li a {
  color: #e1f6ff73;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.4s ease;
}

header .topBar .navbar .navbar-menu li a:hover {
  color: #fff;
}

header .topBar .navbar .navbar-menu li a.router-link-exact-active {
  color: #fff;
}

@media screen and (max-width: 997px) {
  header .topBar .navbar .navbar-menu {
    display: none;
  }
}

header .topBar .navbar .mobile-menu i {
  font-size: 30px;
  color: white !important;
  display: none;
}

@media screen and (max-width: 997px) {
  header .topBar .navbar .mobile-menu i {
    display: block;
  }
}

header .topBar .navbar .mobile-menu ul {
  list-style: none;
  transition: all 0.2s ease;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

header .topBar .navbar .mobile-menu ul li {
  border: 1px solid white;
  border-width: 100%;
  padding: 10px;
}

header .topBar .navbar .mobile-menu ul li a {
  color: #e1f6ff73;
  transition: all 0.4s ease;
}

header .topBar .navbar .mobile-menu ul li a:hover {
  color: white;
}

header .topBar .navbar .mobile-menu ul li a.router-link-exact-active {
  color: #fff;
}

header .topBar .navbar .mobile-menu ul.active {
  visibility: visible;
  margin-top: 14px;
  opacity: 1;
  height: 170px;
}

header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.3em;
}

/*============= /HEADER =============*/

/*============= MAIN =============*/

.main {
  width: 65%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

@media screen and (max-width: 997px) {
  .main {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 997px) {
  .main {
    width: 95%;
  }
}

.main img {
  max-width: 100%;
  border-radius: 4px;
  min-height: 300px;
  max-height: 300px;
  min-width: 100%;
}

.main .post {
  border-radius: 4px;
  box-shadow: 0 1px 2px gray;
  padding: 1.5em;
  background: #fff;
  margin-bottom: 12px;
}

.main .post .category {
  color: #aaa;
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 16px;
}

.main .post .post-text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1.5em;
  overflow: hidden;
  word-wrap: break-word;
}

.main .post .post-meta {
  margin-top: 12px;
  font-size: 10px;
  color: #aaa;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.main .post .post-meta span {
  height: 3px;
  width: 3px;
  border-radius: 4px;
  background: #aaa;
  margin-left: 5px;
  margin-right: 5px;
}

.main .post h2 {
  font-size: 30px;
}

.main .post hr {
  background: #d1d0d0;
  height: 2px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 22px;
}

.main .post .readMore {
  font-size: 13px;
  color: #345;
  border: 1px solid #aaa;
  padding: 6px 10px;
  border-radius: 4px;
  transition: color 0.4s ease;
}

.main .post .readMore:hover {
  border-color: #345;
  color: white;
  background: #345;
}

.main .categories,
.main .tags {
  border-radius: 4px;
  box-shadow: 0 1px 2px gray;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 12px;
  background: #fff;
}

.main .categories .category-content {
  margin-top: 25px;
}

.main .categories .category-content .flex-item {
  margin-top: 5px;
  display: flex;
}

.main .categories .category-content .flex-item span {
  margin-right: 12px;
  font-weight: 500;
  color: #8b8b8b;
}

.main .categories .category-content .flex-item .category-name {
  font-size: 14px;
  color: #aaa;
}

.main .categories .category-content .flex-item .post-count {
  margin-left: auto;
  font-weight: 600;
  font-size: 14px;
}

.main .iframe iframe {
  width: 100%;
}

.content-tags {
  margin-top: 25px;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
}

.content-tags a {
  color: #345;
  border: 1px solid #aaa;
  padding: 4px 7px;
  border-radius: 4px;
  margin-right: 3px;
  margin-bottom: 3px;
  transition: color 0.6s ease;
}

.content-tags a:hover {
  border: 1px solid #345;
  color: white;
  background: #345;
}

.contact {
  border-radius: 4px;
  box-shadow: 0 1px 2px gray;
  padding: 1.8em;
  background: #fff;
  margin-bottom: 12px;
  font-size: 14px;
}

.contact .form-group {
  margin-bottom: 20px;
}

.contact .form-group label,
.contact .form-group input {
  display: block;
}

.contact .form-group label {
  margin-bottom: 12px;
}

.contact .form-group input {
  border-radius: 4px;
  border: 1px solid #cac9c9;
  width: 100%;
  padding: 0.8em;
  transition: border-color 0.1s ease;
  outline: none;
}

.contact .form-group input:focus,
.contact .form-group input:hover {
  border-color: #a8a5a5;
}

.contact button {
  cursor: pointer;
  font-size: 13px;
  color: #345;
  border: 1px solid #cac9c9;
  padding: 0.8em;
  width: 100px;
  border-radius: 4px;
  transition: color 0.4s ease;
}

.contact button:hover {
  color: white;
  background: #345;
}

.archive {
  border-radius: 4px;
  box-shadow: 0 1px 2px gray;
  padding: 1.8em;
  background: #fff;
  margin-bottom: 12px;
  font-size: 14px;
}

.archive h2 {
  font-size: 18px;
}

.archive .latest-posts,
.archive .archive-authors,
.archive .archive-tags {
  margin-bottom: 50px;
}

.archive .latest-posts ul,
.archive .archive-authors ul,
.archive .archive-tags ul {
  margin-top: 20px;
  list-style: none;
}

.archive .latest-posts ul li,
.archive .archive-authors ul li,
.archive .archive-tags ul li {
  margin-bottom: 10px;
}

.archive .latest-posts ul li a,
.archive .archive-authors ul li a,
.archive .archive-tags ul li a {
  color: #345;
}

.archive .latest-posts ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40ch;
}

.archive .posts-number {
  margin-left: 8px;
}

/*============= /MAIN =============*/

/*============= LOADER =============*/

.loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
  z-index: 1000;
}

.loader .loading {
  width: 10px;
  height: 4px;
  padding: 1em;
  background: #f0f2f5;
  border-radius: 50%;
  border: 3px solid #1c262b;
  border-top-color: transparent;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
}

@-webkit-keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

/*============= /LOADER =============*/

/*============= ERROR 404 =============*/

.error-page {
  display: flex;
  margin-top: 3em;
  justify-content: center;
  align-items: center;
  color: #345 !important;
}

.error-page .error-content h1 {
  font-size: 40px;
}

/*============= /ERROR 404 =============*/

/*============= FOOTER =============*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #1c262b;
  padding: 1em;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 14px;
}

/*============= /FOOTER =============*/

