*{
    margin: 0;
    padding: 0;
    border: 0;
}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222f3e;
}
.content h1{
    color: #ee5253;
    font-family: 'poppins';
    font-weight: bolder;
}
h3,p,span{
    color: white;
}